<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="icon" href="static/img/data-analytics.png">
    <title>Subreddit Recommender</title>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Subreddit Recommender</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="https://github.com/BuildWeek-PostHere-Subreddit/MachineLearning">About<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
  </head>
  <body>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <div class="footer">
      <div class="me">
        <p>See more Data Science projects <a href="https://matthewlsessions.com/">here</a></p>
      </div>
    </div>
  </body>
</html>
